extends ../../views/layout

block content
  .col-lg-20
    .main-card.mb-3.card
      .card-body
        h5.card-title= title
        table.mb-0.table.table-hover
          thead
            tr
              th #
              th Book
              th Author
              th Actions
          tbody
            - book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
            //- =console.log(check[0].author.name)
            each book in book_list
              tr
                th(scope='row') #{book._id}
                td
                  a(href=book.url) #{book.title} 
                td
                  p=book.author.name
                td.actions
                  a(href=book.url+'/delete') delete book
                  a(href=book.url+'/update') Update Book
            else
              p There are no books.
        include ../shared/_paginate
