extends ../../views/layout

block content
  h1= title
  
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .table-responsive
            table.footable.table.table-stripped.toggle-arrow-tiny
                thead
                  tr
                    th Book
                    th Author
                    th Actions
                tbody
                  - book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                  each book in book_list
                      tr
                        td 
                          a(href=book.url) #{book.title}
                        td
                          =book.author.name
                        td.actions
                          a(href=book.url+'/delete') delete book
                          a(href=book.url+'/update') Update Book
                  else
                    p There are no books.
                tfoot
