extends ../../views/layout

block content
  h1= title
  
  ul
    //- - book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each instance in instance_list
      li 
        a(href=instance.url) #{instance.book.title} : (#{instance.imprint})-
        if instance.status == 'Available'
          span.text-success !{instance.status}
        else if instance.status == 'Maintenance'
          span.text-danger #{instance.status}
        else
          span.text-warning #{instance.status}
        if instance.status != 'Available'
          span.text-warning (Due: #{instance.due_back_formatted})
    else
      li There are no books.
