extends layout

block content
  .row
    .col-md-6.col-xl-4
      .card.mb-3.widget-content.bg-midnight-bloom
        .widget-content-wrapper.text-white
          .widget-content-left
            .widget-heading Books
            .widget-subheading Last year expenses
          .widget-content-right
            .widget-numbers.text-white
              span #{data.book_count}
    .col-md-6.col-xl-4
      .card.mb-3.widget-content.bg-arielle-smile
        .widget-content-wrapper.text-white
          .widget-content-left
            .widget-heading Copies
            .widget-subheading Total Clients Profit
          .widget-content-right
            .widget-numbers.text-white
              span #{data.book_instance_count}
    .col-md-6.col-xl-4
      .card.mb-3.widget-content.bg-arielle-smile
        .widget-content-wrapper.text-white
          .widget-content-left
            .widget-heading Authors
            .widget-subheading Total Clients Profit
          .widget-content-right
            .widget-numbers.text-white
              span #{data.author_count}
    .col-md-6.col-xl-4
      .card.mb-3.widget-content.bg-grow-early
        .widget-content-wrapper.text-white
          .widget-content-left
            .widget-heading Copies available
            .widget-subheading People Interested
          .widget-content-right
            .widget-numbers.text-white
              span !{data.book_instance_available_count}
    .col-md-6.col-xl-4
      .card.mb-3.widget-content.bg-grow-early
        .widget-content-wrapper.text-white
          .widget-content-left
            .widget-heading Generes
            .widget-subheading People Interested
          .widget-content-right
            .widget-numbers.text-white
              span !{data.genre_count}
